<div class="panel panel-primary">
    <div class="panel-heading">
        {{category_stats.name}}
        <a href="#" onclick="draw('{{category_stats.name}}')">Show graph</a>
    </div>
    <div class="panel-body">
        <p></p>
    </div>

    <table class="table category_percentages {{category_stats.name}}">
        <tr>
            <th>Name</th>
            <th>Average %</th>
        </tr>
        {% for name,contribution in category_stats.sorted_contributions %}
        <tr>
            <td>{{name}}</td>
            <td>{{contribution.average(category_stats.total_dir_lines)}} %</td>
        </tr>
        {% endfor %}
    </table>


    <span class="category_directories">
        {% for dir_stat in category_stats.dir_stats %}
            {% include directory_percentages_template %}
        {% endfor %}
    </span>
</div>