<div class="panel panel-primary">
    <div class="panel-heading">
        {{category_stats.name}}
    </div>
    <div class="panel-body">
        <canvas id="{{category_stats.name}}Canvas" class="barCanvas" width="400" height="400"></canvas>
        <br/>
        <a class="btn btn-link" href="#" role="button" data-toggle="collapse"
           data-target="#{{category_stats.name}}_details">Show Details</a>

        <div id="{{category_stats.name}}_details" class="collapse">
            <table class="table category_percentages {{category_stats.name}}">
                <tr>
                    <th>Name</th>
                    <th>Average %</th>
                </tr>
                {% for name,contribution in category_stats.sorted_contributions %}
                <tr>
                    <td>{{name}}</td>
                    <td>{{contribution.average(category_stats.total_dir_lines)}} %</td>
                </tr>
                {% endfor %}
            </table>
        </div>


    <span class="category_directories">
        {% for dir_stat in category_stats.dir_stats %}
            {% include directory_percentages_template %}
        {% endfor %}
    </span>
    </div>
</div>