<div class="panel panel-primary">
    <div id="{{category_stats.name}}" class="panel-heading">
        {{category_stats.name}}
    </div>
    <div class="panel-body">
        <canvas id="{{category_stats.name}}Canvas" class="barCanvas" width="400" height="400"></canvas>
        <br />
        <a href="#" class="category_details_toggle">Toggle Category Details</a>

        <div class="category_details">
            <table class="table category_percentages {{category_stats.name}}">
                <tr>
                    <th>Name</th>
                    <th>Average %</th>
                </tr>
                {% for name,contribution in category_stats.sorted_contributions %}
                <tr>
                    <td><a href="contributors_stats.html#{{name}}" target="_blank">{{name}}</a></td>
                    <td>{{contribution.average(category_stats.total_dir_lines)}} %</td>
                </tr>
                {% endfor %}
            </table>
        </div>


        <span class="category_directories">
            {% if category_stats.dir_stats|length > 0 %}
                <h3>Included directories:</h3>
                {% for dir_stat in category_stats.dir_stats %}
                    {% include directory_percentages_template %}
                {% endfor %}
            {% endif %}
        </span>
    </div>
</div>