{% extends "layout.html" %}

{% block content %}
    {% for name,contributor_stat in contributor_stats_by_category.iteritems() %}
        <div class="panel panel-primary">
            <div id="{{name}}" class="contributor-stat panel-heading">
                {{name}}
            </div>

            <div class="panel-body">
                <canvas id="{{name}}Canvas" class="pieCanvas" width="400" height="400"></canvas>
                <br />
                <table class="{{name}}-contributor-stat-details">
                    {% for category,contribution_percentage in contributor_stat.contribution_by_category.iteritems() %}
                    <tr>
                        <td class="color-cell">&nbsp;</td>
                        <td class="category"><a href="index.html#{{category}}" target="_blank">{{category}}</a></td>
                        <td>{{contribution_percentage}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block footer %}
<script type="text/javascript">

    $(function () {
        var pies = $('.pieCanvas')
                , i = 0
                , targetCanvas = undefined
                , targetCanvasId = ''
                , canvasStrLength = 'Canvas'.length
                , targetTable = ''
                , colors = [];

        var categories = $('.category');

        colors = {};
        for (var i = 0; i < categories.length ; i++) {
            var category = categories[i];
            var color = colors[category.innerText];
            if (color === undefined) {
                //http://www.paulirish.com/2009/random-hex-color-code-snippets/
                color = '#'+Math.floor(Math.random()*16777216).toString(16);
                colors[category.innerText] = color;
            }
            $(category).prev()[0].style.backgroundColor = color;
        }

        for (i = 0; i < pies.length; i++) {
            targetCanvas = pies[i];
            targetCanvasId = targetCanvas.id;
            targetTable = targetCanvasId.substring(0, targetCanvasId.length - canvasStrLength) + '-contributor-stat-details';

            drawContributorStats(targetTable, targetCanvas, colors);
        }

    });
</script>
{% endblock %}
