<div class="panel panel-info">
    <div class="panel-heading">
        {{dir_stat.dir_name}}
        <a class="dir_percentages_toggle" href="#">Toggle Details</a>
    </div>
    <div class="panel-body  dir_percentages">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Average %</th>
            </tr>
            {% for name,contribution in dir_stat.sorted_contributions %}
                <tr>
                    <td>{{name}}</td>
                    <td>{{contribution.average(dir_stat.total_dir_lines)}} %</td>
                </tr>
            {% endfor %}
        </table>
    </div>

</div>