<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/main.css" rel="stylesheet">

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/Chart.min.js"></script>

    <script src="js/functions.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="navigation col-md-2">
            <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
                <h3>Categories</h3>
                <ul class="nav bs-docs-sidenav">
                    {% for link in navigation_links %}
                        <li>
                        <a href="{{navigation_links[link]}}">{{link}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="main-content col-md-10 container-content">
            {{content}}
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        var bars = $('.barCanvas')
                , i = 0
                , targetCanvas = undefined
                , targetCanvasId = ''
                , canvasStrLength = 'Canvas'.length
                , targetTable = '';

        for (i = 0; i < bars.length; i++) {
            targetCanvas = bars[i];
            targetCanvasId = targetCanvas.id;
            targetTable = targetCanvasId.substring(0, targetCanvasId.length - canvasStrLength);
            drawContributorsGraph(targetTable, targetCanvas, 10);
        }

        $('div.dir_percentages').hide();
        $('a.dir_percentages_toggle').click(function(e) {
            var parent = $(this).parent().parent();
            parent.children('.dir_percentages').slideToggle('slow');
            parent.toggleClass('active');
            e.preventDefault();
        });

        $('div.category_details').hide();
        $('a.category_details_toggle').click(function(e) {
            var categoryDetails =  $(this).next('div.category_details');
            categoryDetails.slideToggle('slow');
            categoryDetails.toggleClass('active');
            e.preventDefault();
        });
    });
</script>
</body>
</html>