<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/Chart.min.js"></script>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <ul>
                {% for link in navigation_links %}
                    <li>
                    <a href="{{navigation_links[link]}}">{{link}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9 container-content">
            {{content}}
        </div>
    </div>
</div>

<script type="text/javascript">

    function drawContributorsGraph(targetTableDataSource, targetCanvas, max) {
        max = typeof max !== 'undefined' ?  max : 20;

        // Get the context of the canvas element we want to select
        var ctx = targetCanvas.getContext("2d");

        var percentageTd = $('.' + targetTableDataSource + ' td');
        var labels = []
                , percentages = [];

        if (percentageTd.length == 0) {
            targetCanvas.style.display = 'none';
            return;
        }

        for (var i = 0; i < percentageTd.length && i < (max * 2) ; i++) {
            var percentageData = percentageTd[i].innerText;
            if (i % 2 == 0) {
                labels.push(percentageData);
            }
            else {
                percentages.push(parseInt(percentageData));
            }
        }
        var data = {
            labels: labels,
            datasets: [
                {
                    label: targetTableDataSource,
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,0.8)",
                    highlightFill: "rgba(220,220,220,0.75)",
                    highlightStroke: "rgba(220,220,220,1)",
                    data: percentages
                }
            ]
        };
        new Chart(ctx).Bar(data);
    }


    $(function () {
        var bars = $('.barCanvas')
                , i = 0
                , targetCanvas = undefined
                , targetCanvasId = ''
                , canvasStrLength = 'Canvas'.length
                , targetTable = '';

        for (i = 0; i < bars.length; i++) {
            targetCanvas = bars[i];
            targetCanvasId = targetCanvas.id;
            targetTable = targetCanvasId.substring(0, targetCanvasId.length - canvasStrLength);
            drawContributorsGraph(targetTable, targetCanvas, 10);
        }
    });
</script>
</body>
</html>